@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Indie Flower', cursive;
    height: 100%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.bgimg {
    background-image: url("dunas.jpg");
    filter: blur(3px);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    position: absolute;
    top: 0%;
    z-index: 2;
    width: 100%;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

.perfil{
    border-radius: 50%;
}

.subheader{
    padding: 3em;
    text-align: center;
    font-size: 1.4em;
}

main{
    color: #a1b9d1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0em 20em;

}

.desc{
    margin-top: 19px;
    text-shadow: 1px 1px black;
    color: #4e331c;
    font-weight: bold;
}

.name{
    color: #88582e;
    text-shadow: 1px 1px white;
}

.card{
    border: 1px solid;
    padding: 1em;
    margin: 1em 13em;
    text-align: center;
    box-shadow: 6px 9px #0000006b;
}

.card:hover{
    transform: translateY(4px) translateX(4px);
    box-shadow: #0000006b 0px 0px 0px;
}

.card:hover{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.projectMainT{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #a1b9d1;
}

.project {
    text-decoration: none;
    color: #a1b9d1;
    text-shadow: 2px 2px black;
}


.social{
    width: 1.5em;
    display: inline;
    animation: float 8s ease-in-out infinite;
    border-radius: 50%;
}

.github{
    animation-delay: 2s;
}

.linkedin{
    animation-delay: 1s;
}
.codepen{
    animation-delay: 3s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.socialM{
    padding: 0em 3em 0em 3em;
    border-bottom: 1px solid;
}

@media screen and (max-height:768px) and (max-width: 1366px) {
    main{padding: 0em 8em;
    }
    .subheader {
        padding: 1.5em;
        text-align: center;
        font-size: 1.2em;
    }
    .perfil{
        width: 12em;
    }
    .card {
        padding: 0.5em;
        margin: 0.7em 15em;
}


}